<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="pxw-debug.ZPM">
    <Module>
      <Name>pxw-debug</Name>
      <Version>1.0.0</Version>
      <Description>PXW Debug macros</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="PXW.Debuggers.PKG"/>
      <UnitTest Name="/tests" Package="PXW.Debuggers.UnitTests" Phase="test"/>

    </Module>
  </Document>
</Export>
